<%= render "layouts/signup" %>
<div class="center title">
<h1> = Thumblr = </h1>
<p class="white"> Post and they will follow.</p>
</div>
<div class="signup center">
<h2> Sign-up </h2>
<%= render "form" %>
</div>
