<div class="body">

<%= render "layouts/navbar" %>
<div class="main">
	<div class="avatar">
		<%= image_tag("avatar2.jpg", :alt => "rss feed") %>
	</div>
	<div class="status">
		<div class="row-fluid">
		  <span id="name"> <%= @user.email.slice(0..(@user.email.index('@') - 1)) %> </span>
		</div>
		<br>
		<div class="row-fluid stats">
			<div class="col-md-4">Followers</div><div class="col-md-4">Following</div><div class="col-md-4">Posts</div>
			<div class="col-md-4">0</div><div class="col-md-4">0</div><div class="col-md-4">0</div>
		</div>
		<div class="row-fluid profile">
			<%= link_to "Profile", edit_user_path(@user), :class => "btn btn-default"%>
		</div>
	</div>
</div>

