/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

input {
    border: 0px none;
    border-bottom:1px solid #C2C1BF;
    font-size: 20px;
    padding-top:20px;
    padding-bottom:5px;
}

*:focus {
	outline:none;
}

li {
	list-style: none;
}

.body {
	position:absolute;
	width:80%;
	height:100%;
	margin-left:10%;
	margin-right:10%;
	background-image:url("./purple.jpg");
}

.root {
	text-align:center;
	padding:20px;
	height:100%;
	margin:auto;
	background-image:url("./purple.jpg");
}

html, body {
	margin:0;
	padding:0;
	height:100% !important;
}

.edit-form input {
	opacity:0.5;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.blue {
	color:#D8EDFF;
	font-style:bold;
}

.white {
	color:white;
}

.navbar-text {
	font-size:1.2em;
}

.avatar {
	margin-top:40px !important;
	background-color:white;
	border-radius:100%;
	margin-left:5%;
	height:270px;
	width:270px;
	overflow:hidden;
	float:left;

}

.avatar img {
	overflow:hidden;
	max-width:270px;
	min-width:270px;
}

.navbar-collapse .navbar-right {
	margin-right:11% !important;
	font-size:0.7em;
}

.main {
	padding-top:25px;
	float:center;
	border-bottom:1px solid #EBF9FF;
	padding-bottom:50px;
	width:80%;
	margin:auto;
	overflow:hidden;
}

.edit {
	float:center;
	border-bottom:1px solid #EBF9FF;
	padding-bottom:50px;
	width:80%;
	margin:auto;
	overflow:hidden;
}

* .btn-default {
	color:white;
	background-color:#949DA1 !important;
	border-color:#949DA1;
	width:150px;
}

.btn-default:hover {
	background-color:#8D9599 !important;
	color:white;
	border-color:#8D9599;
}

.edit-avatar {
	padding-top:20px !important;
}

.status {
	text-align:center;
	float:left;
	color:white;
	width:57%;
	font-size:1.2em;

}

.stats {
	width:80%;
	margin:auto;
	padding-left:5%;
}


.profile {
	width:100%;
	margin:auto;
	margin-top:30%;
	float:left;
}

h1 {
	color:white;
	font-family: 'Paytone One';
	text-align:center;
}
h2 {
	color:#6A6B6B;
	font-weight:600;
}

a:link {
    background-color: transparent;
    color: #34DDDD;
    text-decoration: none;
}

form {
	color:black;
}

.center {
	margin:auto;
}

.button {
	font-weight:600;
	border-radius:5px;
	margin-top:20px;
	background-color:#23B294;
	color:white;
	padding:10px 10px 10px 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

#login {
	padding-left:20px;
	padding-right:20px;
}

#name {
	font-size:2em;
	font-weight:600;
	color:white;
	border-bottom:2.5px solid white;
	padding:0 10px 0 10px;
}

.button:hover {
	background-color:#1E9C81;
	color:white;
}

.title {
	width:27%;
	margin-top:5%;
}

.title h1 {
	font-size:3.7em;
}


.warning {
	background-color:#FF2863;
	color:white;
}

.navbar {
	height:7%;
}

.navbar .navbar-nav {
  text-align: center;
}

.navbar .navbar-collapse {
  font-size:2em;
}

.navbar-nav li {
	padding:0 10px 0 10px;
}

.signup {
	background-color:white;
	border:1.5px solid gray;
	border-radius:40px;
	padding-top:10px;
	padding-bottom:40px;
	width:27%;
	box-shadow: 0 10px 40px #110457;
}