/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

input {
    border: 0px none;
    border-bottom:1px solid #C2C1BF;
    font-size: 20px;
    padding-top:20px;
    padding-bottom:5px;
}

*:focus {
	outline:none;
}

li {
	list-style: none;
}

.body {
	text-align:center;
	padding:20px;
}

body {
	background-image:url("./purple.jpg");
}

.blue {
	color:#D8EDFF;
	font-style:bold;
}

.white {
	color:white;
}

.navbar-text {
	font-size:1.2em;
}

h1 {
	color:white;
	font-family: 'Paytone One';
}
h2 {
	color:black;
	font-weight:400;
}

a:link {
    background-color: transparent;
    color: #34DDDD;
    text-decoration: none;
}

form {
	color:black;
}

.center {
	margin:auto;
}

.button {
	font-weight:600;
	border-radius:5px;
	margin-top:20px;
	background-color:#23B294;
	color:white;
	padding:10px 10px 10px 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

#login {
	padding-left:20px;
	padding-right:20px;
}

.button:hover {
	background-color:#1E9C81;
	color:white;
}

.title {
	width:27%;
	margin-top:5%;
}

.title h1 {
	font-size:3.7em;
}

.navbar-right {
	padding-right:15px;
}

.warning {
	background-color:red;
	color:white;
}

.signup {
	background-color:white;
	border:1.5px solid gray;
	border-radius:40px;
	padding-top:10px;
	padding-bottom:40px;
	width:27%;
	box-shadow: 0 10px 40px #110457;
}