<% if object.errors.any? %>
    <div class="warning">
      <% object.errors.full_messages.each do |message| %>
        <li>  <%= flash[:alert] = message %> </li>
      <% end %>
    </div>
  <% end %>

