<h1>Thumblr</h1>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to "HOME", user_path(@user) %>
                </li>
                <li>
                    <%= link_to "POST", users_path %>
                </li>
                <li>
                    <a href="#">DISCOVER</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% if current_user %>
                        <%= link_to "Logout", session_path("current"), method: "delete" %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>